* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414a4c;
  padding: 20px;
  
}


/* Hero */
.hero {
    display: flex;
    justify-content: end;
    background-color: paleturquoise;
    padding: 50px;
}

/* Main */

/* About */

/* Work */

/* Contact */
